<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <title>Book Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css" />


    </head>
    <body class="p-3 m-0 border-0 bd-example m-0 border-0" style="background-color:#3e4451">
    <div class="container mt-4">
        <p class="text-center font-weight-bold" style="font-size:25px; color:white;">Gutenberg Search Engine</p>

        <form action="/users/dashboard" method="POST"
              class="input-group input-group-lg d-flex justify-content-center mt-4">
            <div class="input-group-prepend">
                <span class="input-group-text ml-1" id="inputGroup-sizing-lg">Search a Book</span>
            </div>
            <input type="text" name="query" class="form-control shorter-input rounded ml-1" placeholder="Search a Book"
                   aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-lg ml-1">Search</button>
                </div>
        </form>

        <div class="mt-4" style="background-color: #2c2f34;">
            <h1 class="text-center mt-4" style="color: white;">Book List</h1>
            <div class="row justify-content-center text-center">
                <div class="col-lg-12">
                    <div class="container mt-5">
                        <div class="row mb-2">
                            <div class="col-md-3 mb-4" th:each="book : ${books}">
                                <div class="card h-100 mb-2" th:if="${book.media_type == 'Text'}">
                                    <img class="card-img-top mt-2 img-small" th:src="${book.formats['image/jpeg']}"
                                         alt="Book Cover">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li th:each="author : ${book.authors}" class="list-group-item"
                                                    th:text="${author.name}"></li>
                                            </ul>
                                        </div>
                                        <div class="container mb-2">
                                            <div class="row text-center">
                                                <div class="col-md-4 ml-3 mr-3">
                                                    <form action="@{/dashboard/addFavoriteBook}" method="POST">
                                                        <input type="hidden" name="bookId" th:value="${book.id}" />
                                                        <div id='heart' name='heart' class='button' type='submit'> </div>                        
                                                    </form>
                                                </div>
                                                <div class="col-md-6">
                                                    <button type="button" class="btn-duo btn-lg btn-primary">Read Book
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mojs/core" defer></script>
    <script src="" th:src ="@{js/script.js}"></script>
</body>
</html>
